<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("img/jobboard.jpg") }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/daisyui" rel="stylesheet" type="text/css" />
            <link href="https://cdn.jsdelivr.net/npm/daisyui@5.1.29/theme/lofi.css" rel="stylesheet" type="text/css" />

            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
            
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
            
            <script src="{{ asset('scripts/baseUrl.js') }}"></script>
        {% endblock %}
    </head>
    <body class="color-base-100 min-h-svh flex flex-col max-w-screen">
        <header class="bg-black flex items-center justify-between w-full overflow-hidden h-18 px-5 sm:h-20 sm:px-6 lg:px-24 2xl:px-86">
            <div class="h-3/5 flex items-center gap-6">
                <a class="h-full flex flex-col items-center justify-center" href="{{ path("app_home")}}">
                    <figure class="h-full flex flex-col items-center justify-center overflow-hidden">
                        <img class="h-full invert rounded-lg" src="{{ asset("img/jobboard.jpg") }}" alt="Logo du site">
                    </figure>
                </a>

                <a class="link italic text-white font-medium hidden sm:block" href="{{ path("app_home")}}">Accueil</a>

                <a class="link italic text-white font-medium" href="{{ path("app_advertisement")}}">Annonces</a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="link italic text-white font-medium hidden sm:block" href="{{ path("app_admin")}}">Administration</a>
                {% endif %}
            </div>

            
            {% if app.user %}
                <a class="h-3/5 bg-white link rounded-lg flex flex-col items-center justify-center px-4 py-1 sm:px-6 sm:py-2" href="{{ path("app_profile")}}">
                    <p class="font-medium italic">Mon profil</p>
                </a>
            {% else %}
                <a class="h-3/5 bg-white link rounded-lg flex flex-col items-center justify-center px-4 py-1 sm:px-6 sm:py-2" href="{{ path("app_login")}}">
                    <p class="font-medium italic">Connexion</p>
                </a>
            {% endif %}
        </header>

        {% block body %}{% endblock %}

        <footer class="w-full bg-white flex flex-col items-center justify-center h-128 sm:px-6 lg:px-24 2xl:px-86">
            <div class="bg-black w-full h-full flex flex-col items-center text-white rounded-4xl gap-6 px-6 overflow-hidden lg:px-12">
                <div class="h-1/2 w-full flex flex-col items-center justify-around lg:items-start">
                    <figure class="h-3/4 flex items-center justify-center overflow-hidden">
                        <img class="h-full" src="{{ asset("img/jobboard.jpg")}}" alt="Logo du site">
                    </figure>

                    <div class="w-full flex items-center justify-center gap-6 lg:justify-start">
                        <a class="bg-white unselectable rounded-xl px-4 py-1 text-black hover:bg-slate-100" href="https://github.com/CN-Works/">
                            <p>Victor</p>
                        </a>
    
                        <a class="bg-white unselectable rounded-xl px-4 py-1 text-black hover:bg-slate-100" href="https://github.com/HaytamL">
                            <p>Haytam</p>
                        </a>
    
                        <a class="bg-white unselectable rounded-xl px-4 py-1 text-black hover:bg-slate-100" href="https://github.com/Hector-boopy">
                            <p>Hector</p>
                        </a>
                    </div>
                </div>

                <div class="h-1/2 w-full flex items-center justify-center lg:justify-start">
                    <div class="w-3/9 h-full flex flex-col items-center justify-center gap-3 lg:items-start">
                        <p class="font-bold text-lg italic">Plan du site</p>

                        <a class="link text-slate-100 text-sm" href="https://github.com/CN-Works/">Annonces</a>
                        <a class="link text-slate-100 text-sm" href="{{ path("app_admin") }}">Gestion</a>
                        <a class="link text-slate-100 text-sm" href="{{ path("app_profile") }}">Profil</a>
                    </div>

                    <div class="w-3/9 h-full flex flex-col items-center justify-center gap-3 lg:items-start">
                        <p class="font-bold text-lg italic">Contacts</p>

                        <a class="link text-slate-100 text-sm" href="https://github.com/CN-Works/">Victor</a>
                        <a class="link text-slate-100 text-sm" href="https://github.com/HaytamL">Haytam</a>
                        <a class="link text-slate-100 text-sm" href="https://github.com/Hector-boopy">Hector</a>
                    </div>

                    <div class="w-3/9 h-full flex flex-col items-center justify-center gap-3 lg:items-start">
                        <p class="font-bold text-lg italic">Utilisateur</p>

                        <a class="link text-slate-100 text-sm" href="{{ path("app_login") }}">Connexion</a>
                        <a class="link text-slate-100 text-sm" href="{{ path("app_register") }}">Créer un compte</a>
                        <a class="link text-slate-100 text-sm" href="{{ path("app_logout") }}">Déconnexion</a> 
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
